@page
@using PI4.Models;
@model PI4.Pages.DetailsModel
@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Self-Defence with Jo Bonten</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/Index">🥷🏻 Home 🥷🏻</a>
            <a class="navbar-brand" href="/Onderwerpen">🥋 Wat wil je leren? 🥋</a>
            <a class="navbar-brand" href="/YouTubeLinks">🥊 Alle Instructie video's 🥊</a>
        </nav>

    </header>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div>
                    <h1>Bijhorende onderwerpen bij video: "@Model.Video?.Titel"</h1>
                    <br />
                </div>
                <div class="align-middle">
                    <iframe allowfullscreen width="600" height="300" src="@Model.Video?.Link"></iframe>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Onderwerpen</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Video?.Onderwerpen?.Any() ?? false)
            {
                @foreach (var rij in Model.Video.Onderwerpen ?? Enumerable.Empty<Onderwerp>())
                {
                    <tr>
                        <td class="align-middle">@rij.Omschrijving</td>
                    </tr>
                }

            }
            else
            {
                <tr style="color:red">
                    <td>Niks om weer te geven...</td>
                </tr>
            }

        </tbody>
    </table>

 </body>